body{font-family: serif;}
h1 {
  color: black;
  width: 1200px;
  background-color: yellow;
  border: 2px solid black;
  text-align: center;
  text-shadow: 5px 3px green ; outline-style: double;
}
.rub{float: right; }
.p.a {font-style: italic;}
.blink {
  text-decoration: blink;
}
h2 {
  color: red;
  width: 1200px;
  background-color: yellow:
  border: 1px solid black
  text-align: center;
}
h3 {
  color: red;
  width: 1200px;
  background-color: yellow:
  border: 1px solid black
  text-align: center;
}
h4{
  color: red;
  width: 1200px;
  background-color: yellow:
  border: 1px solid black
  text-align: center;
}
table{
	border: black solid;
}
.abc {
	float: left;
}
.cdf {
	float: left;
}
.fgh{
	float: left;
}
.hij{float: left;
}

.jkl{float: left;
}
.bcd {
	float: right;
}
.dfg {
	float: right;
}
.ghi{
	float: right;
}
.ijk{float: right;}